<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <title>cricket-tales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <header>
    </header>

    <script src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ MEDIA_URL }}js/slick.min.js"></script>
    <script src="{{ MEDIA_URL }}js/popcorn-complete.min.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/slick.css"/>
    <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
    <!-- loading last for overrides... -->
    <!-- <link rel="stylesheet" href="{{ MEDIA_URL }}/css/style.css" /> -->
    <link rel="stylesheet" href="/media/css/style.css" />
    <script src="/media/js/base.js"></script>

    <!-- menu time! -->
    {% if not hide_menu %} <!-- hidden for index (maybe also movie?) -->
    <div class="row">
      <div class="menu_title col-lg-11 col-md-11 col-sm-11 col-xs-10">
        <h1 class="page_title">{{ page_title }}</h1>
        <hr id="title_underline" class="bottom"> </hr>
      </div>
      <div class="menu_holder col-lg-1 col-md-1 col-sm-1 col-xs-2">
        <nav>
          <ul>
            <li><a href="#"><img src="{{ MEDIA_URL }}images/buttons/menu.png"></a>
	          <ul>
		        <li><a href="/">{% trans "HOME" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="/meadow/">{% trans "MY MEADOW" %}</a></li>
                {% else %}
                <li><a href="/login">{% trans "LOGIN" %}</a></li>
                {% endif %}
		        <li><a href="/tutorial/">{% trans "TUTORIAL" %}</a></li>
		        <li><a href="/about/">{% trans "ABOUT" %}</a></li>
		        <li><a href="/faq/">{% trans "FAQ" %}</a></li>
                {% if user.is_authenticated %}
		        <li><a href="/logout/">{% trans "LOG OUT" %}</a></li>
                {% endif %}
	          </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}

    {% if iphone %}
    <div class="support col-sm-6 col-sm-offset-3 col-xs-12">
      {% trans "Unfortunately, iPhones are not currently supported for this game. You are welcome to try again on another device." %}
    </div>
    {% endif %}
    <div class="container">
      <div class="main_bit">
        <section class="top_layer content">
          {% block top_layer %}{% endblock %}
        </section>
        <section class="bottom_layer content">
          {% block bottom_layer %}{% endblock %}
        </section>

      </div>


  </body>
</html>
