<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://127.0.0.1:8000/media/css/style.css" />
    <title>cricket-tales</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header>
    </header>

    <script src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ MEDIA_URL }}js/popcorn-complete.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/media/js/base.js"></script>

    <div class="login_box">
      <a href="/">Cricket Tales</a> <span style="font-size:50%">help us tell their stories</span>
      <div style="float:right;">
	{% if user.is_authenticated %}
	Hello {{ user.username }}, you have contributed {{ user.profile.num_events }} events

    <div class="button" style="font-size:70%; float:right;" onclick="window.location.href='/logout/'">
      Logout
    </div>

    <div class="button" style="font-size:70%; float:right;  margin-left:1em;" onclick="window.location.href='/player/{{user.id}}'">
      My page
    </div>

	{% else %}
    <div class="button" style="font-size:70%; float:right;" onclick="window.location.href='/register/'">
      Register
    </div>
    <div class="button" style="font-size:70%; float:right;" onclick="window.location.href='/login/'">
      Login
    </div>
	{% endif %}
      </div>
    </div>

    <div class="main_bit">
      <section class="top_layer content">
        {% block top_layer %}{% endblock %}
      </section>
      <section class="bottom_layer content">
        {% block bottom_layer %}{% endblock %}
      </section>
    </div>

  </body>
</html>
