@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
/* firefox likes these at the top??! */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background: url('../images/background.png');
  background-repeat: repeat;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

td:hover {
    cursor: pointer;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.clearfix, .container, section {
  overflow: hidden;
  *zoom: 1;
}


h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}

body {
    width:100%;
    height:100%;
    min-height:100%;
    font-family: 'Vidaloka', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
    color: black;
}

video {
    width: 100%;
    height: auto;
}

.main_bit {
    /*width: 120%; */
    /*box-sizing: border-box;*/
}

.content {
/*    position:absolute;
    left:50%;
    margin-left:-500px;*/
/*    max-width: 2000px;
    width: 100%;*/
}
/*@media only screen and ( max-width: 1000px ) {
    .content {
        margin-left: -50%;
    }
}*/

.top_layer {
    /*pointer-events: none;*/
    z-index: 1;
}


.bottom_layer {
}

.outer_box_container {
}

.box_container {
    width:100%;
    height:700px;
    overflow-y: scroll;
}

.outer_row_container {
    padding-top: 1em;
}

.row_container {
    width:100%;
    height:210px;
/*    overflow-x: scroll; */
}


.box {
    display: inline-block;
    float: left;
    height: 175px;
    width: 175px;
    margin-right: 2em;
    margin-bottom: 2em;
}

.box-overlay {
    background:rgba(255,255,255,.75);
    width: 100%;
    height: 100%;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.box:hover .box-overlay {
    opacity:1;
}

.box-contents {
    left: 0px;
    top: -175px;
    position: relative;
    padding: 0.5em;
    font-size: 75%;
    color: black;
    opacity:0;
}

.box:hover .box-contents {
    opacity:1;
}
/* info panel shiz */
hr.top {
    background:url('../images/borders/border-top-long.png');
    /*background-repeat: no-repeat;*/
    border: 0;
    height: 20px;
    background-size: 100%;
    background-repeat: repeat-x;
    padding: 0em !important;
    margin: 0em !important;
}

hr.bottom {
    background:url('../images/borders/border-bottom-long.png');
    border: 0;
    height: 35px;
    background-size: 100%;
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
}

button#no_cricket,
button#no_cricket_end {
    background:url('../images/buttons/button-oblong.png');
    border: 0px;
    background-size: 100% 100%;
/*    background-position-x: -0.2em;
    background-position-y: -0.4em;*/
    overflow: visible;
/*    width: 120px;*/
    text-align: left;
    background-repeat: no-repeat;
}

#burrow_start,
.info-panel {
    border: 0px;
    background: 0px;
    box-shadow: 0px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   height: auto;
   font-family: 'Vidaloka', serif;
   font-size: 1.2vw;
   display: table;
   z-index: 3;
}

.info-panel {
    text-align: right;
    display: table-cell;
}


/* square things */

.bar {
    width: 100%;
    background: url('../images/track/timeline.png');
    background-size: 108%;
    background-position: -1em;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    font-size: 130%;
}

.timeline {
    height: 3em;
    overflow: visible;
}

.timeline_line {
    background-color: black;
    height: 1px;
    position: relative;
    top: 50%;
}

.button_container {
    padding: 0.25em;
    display:block;
}

.button_container.bar {
    background: transparent;
}

/* invisible then visible things, aka ID form */
div#tag_cricket {
    display: none;
    width: 20%;
    background: #fff;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 10;
}

.id-display{
    display: none;
}

::-webkit-input-placeholder {
   text-align: center;
}

input#tag_id {
    text-align: center;
}

/* round things */

.circle {
    border: 1px solid #1e4018;
    border-radius: 2.5em;
	width: 5em;
	height: 5em;
    text-align: center;
}

.small_circle {
    /*border: 1px solid #1e4018;*/
    border-radius: 1em;
	width: 2em;
	height: 2em;
    text-align: center;
}

.tiny_circle {
    border: 1px solid #1e4018;
    border-radius: 0.3em;
	width: 0.6em;
	height: 0.6em;
    text-align: center;
    position: relative;
    top: 0.1em;
}

.micro_circle {
    border: 1px solid #1e4018;
    border-radius: 0.25em;
	width: 0.5em;
	height: 0.5em;
    text-align: center;
    position: relative;

}

.button {
    float: left;
    font-family: 'Love Ya Like A Sister', cursive;
    background: #238029;
    background: -webkit-gradient(linear, left top, left bottom, from(#65d67b), to(#238029));
    background: -webkit-linear-gradient(top, #65d67b, #238029);
    background: -moz-linear-gradient(top, #65d67b, #238029);
    background: -ms-linear-gradient(top, #65d67b, #238029);
    background: -o-linear-gradient(top, #65d67b, #238029);
    background-image: -ms-linear-gradient(top, #65d67b 0%, #238029 100%);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;

    text-shadow: #7fbd83 0 1px 0;
    color: #000000;
    text-decoration: none;
    cursor: pointer;

}

.button_container > .button {
   width: 100%;
   height: auto;
   padding: 0.2em;
   background: url("../images/buttons/button-1.png");
   background-size: 100% 100%;
   border: 0px solid #fff !important;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
}

.button_container > .id-display {
    width: 100% !important;
    min-height: 200px;
    height: auto !important;
}

.button .button_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 80%;
    height: 80%;
    display: table;
    margin: 0.3em;
    font-size: 130%;
}

.id-display .button_text {
    width: 80% !important;
    height: 80%;
    display: table;
}

span.cricket-id-char {
    border: 1px solid black;
    padding: 5px;
}

.id-display .button_text p,
.button .button_text p {
    font-size: 1.5vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin-left: 0.7em;
}

.event {
    margin-top: -1em;
    margin-left: -1.5em;
    position: absolute;
/*    background:rgba(255,255,0,.75);*/
    pointer-events: none;
}

.time {
    margin-top: 1em;
    margin-left: -0.5em;
    background-color: white;
    /*-webkit-transition: left 1.5s linear;
    -moz-transition: left 1.5s linear;*/
    z-index: 100;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.4);

}


.event_text {
    font-size: 50%;
}

.movie_end {
    border-radius: 2em;
    padding: 2em;
    position: absolute;
    margin-left: 20%;
    margin-top: 15%;
    width: 60%;
    height: 50%;
    z-index: 2;
    background: rgba(255,255,255,0.75);
}



.hiscores {
    position: fixed;
    border-radius: 1em;
    margin-top: 60%;
    width: 50%;
    background:rgba(255,255,255,.75);
}

.hiscores_table {
    width: 170px;
}

.hiscores_row {
    border: 1px;
    height: 1.8em;
}

.hiscores_left {
    float: left;
    display: block;
    border-radius: 0.5em;
    padding: 0.3em;
    background: black;
    color: white;
}

.hiscores_right {
    border-radius: 0.5em;
    float: right;
    padding: 0.3em;
    min-width: 1em;
    text-align: center;
    clear: right;
    background: black;
    color: white;
}


.cricket_top {
    width:100%
}

.cricket_left {
    width: 50%;
    float: left;
}

.cricket_right {
    width: 50%;
    float: left;
}

.login_box {
    font-size: 150%;
    padding: 0.2em;
    background: #d2f4c7;
}

.field {
    display: block;
    white-space: normal;
}

.burrow-container {
    position: relative;
}

.owner {
    color: #000000;
}

.burrow {
    color: #fff;
    position: absolute;
    text-align: center;
/*    -webkit-transform: translateZ(0);  webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.burrow a {
    color: #fff;
    text-decoration: none;
    font-size: 50%;
}

.burrow .tooltip {
    background: #ffffff;
    bottom: 100%;
    color: #000;
    display: block;
    left: -75px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    width: 150px;
    z-index: 1000;
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.burrow .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.burrow .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.burrow:hover .tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}


.info-text {
    font-size: 200%;
}

.container {
    width: 100%;
}

/* override some bootstrap padding */
#cricket_player {
    padding-left:0px;
    padding-right:0px;
}
