/*@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);*/
/* firefox likes these at the top??! */

@font-face {
  font-family: 'Love Ya Like A Sister';
  src: local('Love Ya Like A Sister'),
        url('../fonts/LoveYaLikeASister.ttf');
}

@font-face {
  font-family: 'Vidaloka';
  src: local('Vidaloka'),
        url('../fonts/Vidaloka-Regular.ttf');
}


h1 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 180%;
    margin: 0em;
}
h2 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 150%;
}

body {
    background: url('../images/background.png');
    background-repeat: repeat;
/*    width:100%;
    height:100%;
    min-height:100%;*/
    font-family: 'Vidaloka', sans-serif;
    font-size: 25px;
    padding: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

a:visited {
    color: black;
}

video {
    width: 100%;
    height: auto;
}

.page_title {
    font-size: 3vw;
}

.container {
    width: 100% !important;
}

.lang-select select {
    font-family: 'Vidaloka', sans-serif;
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.lang-select {
    font-family: 'Vidaloka', sans-serif;
    height: 34px;
    overflow: hidden;
    background: #e7f8c1;
}

.login {
    font-family: 'Vidaloka', sans-serif;
    overflow: hidden;
    background: #e7f8c1;
}

.logo {
}

.map {
    height: 35em;
    border: 5px dashed #1e4018;
}

.map-popup {
    text-align: center;
}

.info {
    text-align: center;
    background: #f6fce9;
    font-size: 1.2vw;
    margin-bottom: 1em;
    overflow: hidden;
 }

.score {
    text-align: center;
    background: #f6fce9;
    font-size: 2vw;
    margin-bottom: 1em;
    overflow: hidden;
 }

.score-name {
    padding: 0.2em;
}

.score-value {
    padding: 0.2em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    background: #e7f8c1;
    text-align: center;
    overflow: hidden;
}

.news-feed {
    text-align: center;
    background: #f6fce9;
    font-size: 2vw;
}

.news-bubble {

}

.news-story {
    position: absolute;
    padding-left: 1.5em;
    padding-right: 1.5em;
    top: 12%;
    left: 0;
    font-size: 2vw;
}

/*
 xm = 480px
 sm = 768px
 md = 992px
 lg = 1200px
*/
/*
@media (max-width: 1200px) {
    .news-story{font-size: 2.5vw;}
}

@media (max-width: 992px) {
    .news-story{font-size: 2.5vw;}
}

@media (max-width: 768px) {
    .news-story{font-size: 3vw;}
}

@media (max-width: 480px) {
    .news-story{font-size: 2.8vw;}
}
*/

.news-stretch {
    width:99%;
    height:99%;
}

.game_title {
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;
}

.game_stats {
    text-align: center;
    margin-bottom: 0.5em;
}

.top_layer {
    /*pointer-events: none;*/
    z-index: 1;
}

.box_container {
    width:100%;
    height:700px;
    overflow-y: scroll;
}

.outer_row_container {
    padding-top: 1em;
}

.row_container {
    width:100%;
    height:210px;
/*    overflow-x: scroll; */
}


.box {
    display: inline-block;
    float: left;
    height: 175px;
    width: 175px;
    margin-right: 2em;
    margin-bottom: 2em;
}

.box-overlay {
    background:rgba(255,255,255,.75);
    width: 100%;
    height: 100%;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.box:hover .box-overlay {
    opacity:1;
}

.box-contents {
    left: 0px;
    top: -175px;
    position: relative;
    padding: 0.5em;
    font-size: 75%;
    color: black;
    opacity:0;
}

.box:hover .box-contents {
    opacity:1;
}
/* info panel shiz */
hr.top {
    background:url('../images/borders/border-top-long.png');
    /*background-repeat: no-repeat;*/
    border: 0;
    height: 20px;
    background-size: 100%;
    background-repeat: repeat-x;
    padding: 0em !important;
    margin: 0em !important;
}

hr.bottom {
    background:url('../images/borders/border-bottom-long.png');
    border: 0;
    height: 40px;
    background-size: 100%;
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
}

div.save_something,
div.delete,
div.closed,
div.close_id,
div.close_id_no_tag,
input.burrow_link {
    background:url('../images/buttons/button-oblong.png');
    border: 0px;
    background-size: 100% 100%;
/*    background-position-x: -0.2em;
    background-position-y: -0.4em;*/
    overflow: visible;
/*    width: 120px;*/
    text-align: left;
    background-repeat: no-repeat;
    outline: 0;
}

.tutorial_highlight {
    overflow: auto;
    float: none !important;
    /*border: 3px dotted red; */
}

.tutorial_highlight_id {
    overflow: auto;
    float: none !important;
    min-height: 100px;
}

.tutorial_highlight .button {
    min-height: 75px;
    height: auto;
}

.tutorial_highlight div.button_text p {
    font-size: 2vw;
    margin-top: 50%;
}

.tutorial_list {
    list-style-type: none;
}

a.tutorial-play {
    color: #333;
}

input[type=submit], button#tutorial {
    background:url('../images/buttons/button-oblong.png');
    border: 0px;
    background-size: 100% 100%;
    padding: 1em;
    overflow: visible;
    text-align: left;
    background-repeat: no-repeat;
}

input[type=submit]:hover, button#tutorial:hover {
    background:url('../images/buttons/button-oblong-high.png');
    background-size: 100% 100%;
}

input[type=submit]:active, button#tutorial:active {
    background:url('../images/buttons/button-oblong-offset.png');
    background-size: 100% 100%;
}



button#no_cricket,
button#no_cricket_end {
    background:url('../images/buttons/button-oblong.png');
    border: 0px;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-size: 100% 100%;
    /* background-position-x: -2.3em; */
    /* background-position-y: -1.3em; */
    overflow: visible;
    text-align: left;
    background-repeat: no-repeat;
/*    padding: 0.8em;*/
}

#burrow_start,
.info-panel {
    border: 0px;
    background: 0px;
    box-shadow: 0px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0 !important;
   height: auto;
   font-family: 'Vidaloka', serif;
   font-size: 1.2vw;
   display: table;
   z-index: 3;
}

.info-panel {
    text-align: right;
    display: table-cell;
}


/* square things */

.bar {
    background: url('../images/track/timeline.png');
    background-size: 102% 250%;
    background-position: 0.2em;
    text-align: center;
    display: inline-block;
    overflow: visible;
    font-size: 130%;
}

.timeline {
    height: 1em;
    overflow: visible;
    width: 91%;
}

.timeline_line {
    margin-left: 0.5em;
    width: 96%;
    background-color: black;
    height: 2px;
    position: relative;
    top: 50%;
}

.button_container {
    padding: 0.25em;
    display:block;
}

.button_container.bar {
    background: transparent;
}


button.play,
button.pause {
    max-width: 2em;
    max-height: 2em;
    width: 2em;
    height: 2em;
    border: 0px;
    margin-top:-0.4em;
    padding: 0;
    outline: 0;
}

/* invisible then visible things, aka ID form */
div#tag_cricket {
    display: none;
    width: 20%;
    background: #fff;
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 10;
}

div#something_else {
    position: absolute;
    top: 10%;
    right: 10%;
    display: block;
    height: 60%;
    overflow: auto;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
    display: none;
}

div#something_else .panel-heading {
    background: #e7f8c1;
}

div#something_else .panel-heading h3{
    text-align: center;
}

div#something_else .panel-body,
div#something_else .form-group,
div#something_else textarea {
    height: 92%;
    resize: none;
}

div#something_else textarea {
    background: #f6fce9;
    border: 1px solid #e7f8c1;
    outline: none;
    focus: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


div.save_something > span {
    font-size: 0.6em;
    margin: 0.3em;
}

div.delete > span {
    font-size: 0.6em;
    margin: 0.3em;
}

div.closed > span {
    font-size: 0.6em;
    margin: 0.3em;
}

div.close_id > span {
    font-size: 0.6em;
    margin: 0.3em;
}

div.close_id_no_tag > span {
    font-size: 0.6em;
    margin: 0.3em;
}

::-webkit-input-placeholder {
   text-align: center;
}



input#tag_id {
    text-align: center;
}

/* round things */

.circle {
    border: 1px solid #1e4018;
    border-radius: 2.5em;
	width: 5em;
	height: 5em;
    text-align: center;
}

.small_circle {
    border: 1px solid #000;
    border-radius: 0.25em;
    width: 0.5em;
    height: 0.5em;
    text-align: center;
    position: relative;
    top: 0.1em;
}

.tiny_circle {
    border: 1px solid #F8AFC2;
    border-radius: 0.3em;
	width: 0.6em;
	height: 0.6em;
    text-align: center;
    position: relative;
    top: 0.1em;
    -webkit-box-shadow: -3px 5px 2px 0px rgba(62,67,43,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(62,67,43,1);
    box-shadow: -3px 5px 2px 0px rgba(62,67,43,1);
}

.micro_circle {
    border: 1px solid #1e4018;
    border-radius: 0.25em;
	width: 0.5em;
	height: 0.5em;
    text-align: center;
    position: relative;

}

.button {
    float: left;
    font-family: 'Love Ya Like A Sister', cursive;
    height: auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: url("../images/buttons/button-1.png");
    background-size: 100% 100%;
    border: 0px solid #fff !important;
}

.button_container > .id-display {
    width: 100% !important;
    min-height: 200px;
    height: auto !important;
}

.button .button_text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 80%;
    height: 80%;
    display: table;
    margin: auto;
}

.id-display .button_text {
    width: 80% !important;
    height: 80%;
    display: table;
}

span.cricket-id-char {
    border: 1px solid black;
    padding: 5px;
}

.id-display .button_text p,
.button .button_text p {
    font-size: 1.3vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin-left: 0.7em;
}

/* Keyboard */
#tag_cricket.panel {
    background: rgba(255, 255, 255, 0.7);
    min-width: 25%;
}

#tag_cricket tr {
    background: #f6fce9;
}

#tag_cricket td {
    min-width: 2em;
    border: 1px solid #e7f8c1;
}

#tag_cricket td#delete,
#tag_cricket td#save {
    border-right: 0px;
    border-left: 0px;
    background: url('../images/buttons/button-oblong.png');
    background-size: 100% 100%;
}

.event {
    margin-left: 0.7em;
    position: absolute;
    top: 2.09em;
    background:rgba(0,0,0,1);
    pointer-events: none;
}

.event_button.animated {
    -webkit-animation: filter-animation 0.5s;
}


@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: brightness(2);
  }

  10% {
    -webkit-filter: brightness(1.8);
  }

  45% {
    -webkit-filter: brightness(1.4);
  }

  100% {
    -webkit-filter: brightness(1);
  }
}

.time {
    margin-top: 0.06em;
    margin-left: 0.5em;
    background-color: #F8AFC2;
    /*-webkit-transition: left 1.5s linear;
    -moz-transition: left 1.5s linear;*/
    z-index: 100;
}


.event_text {
    font-size: 50%;
}

.login_pop {
    left: 0px;
    top: 0px;
    border-radius: 2em;
    padding: 2em;
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
    width: 50%;
    z-index: 2;
    background: #e7f8c1;
    border: 3px solid black;
}


.movie_end {
    left: 0px;
    top: 0px;
    border-radius: 2em;
    padding: 2em;
    position: absolute;
    margin-left: 10%;
    margin-top: 20%;
    width: 60%;
    z-index: 2;
    background: #e7f8c1;
    border: 3px solid black;
}

.hiscores {
    position: fixed;
    border-radius: 1em;
    margin-top: 60%;
    width: 50%;
    background:rgba(255,255,255,.75);
}

.hiscores_table {
    width: 170px;
}

.hiscores_row {
    border: 1px;
    height: 1.8em;
}

.hiscores_left {
    float: left;
    display: block;
    border-radius: 0.5em;
    padding: 0.3em;
    background: black;
    color: white;
}

.hiscores_right {
    border-radius: 0.5em;
    float: right;
    padding: 0.3em;
    min-width: 1em;
    text-align: center;
    clear: right;
    background: black;
    color: white;
}


.cricket_top {
    width:100%
}

.cricket_left {
    width: 50%;
    float: left;
}

.cricket_right {
    width: 50%;
    float: left;
}

.login_box {
    font-size: 150%;
    padding: 0.2em;
    background: #d2f4c7;
}

.field {
    display: block;
    white-space: normal;
}

.burrow-container {
    position: relative;
}

.owner {
    color: #000000;
}

.burrow {
    color: #fff;
    position: absolute;
    text-align: center;
/*    -webkit-transform: translateZ(0);  webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.burrow a {
    color: #fff;
    text-decoration: none;
    font-size: 50%;
}

.burrow .tooltip {
    background: #ffffff;
    bottom: 100%;
    color: #000;
    display: block;
    left: -75px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    width: 150px;
    z-index: 1000;
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.burrow .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.burrow .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.burrow:hover .tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}


.info-text {
    font-size: 150%;
    padding: 0px;
}


/* override some bootstrap padding */
#cricket_player {
    padding-left:0px;
    padding-right:0px;
}


/* menu stuff */
.menu_main {
    /* force this to contain it's children */
    /* can't do this as it breaks the menu dropdown
       overflow: hidden; */
}

.menu_title {
    font-size: 2.5vw;
}

.menu_holder {
    font-family: 'Love Ya Like A Sister', sans-serif;
    z-index: 5;
    overflow: visible;
}

nav ul {
    padding: 0px;
	list-style: none;
	position: relative;
    right: 0px;
    display: inline-table;
}

nav ul ul {
	display: none;
    padding: 0px 0px;
}

nav ul li:hover > ul {
	display: block;
    background: #e7f8c1;
}


nav ul li a {
}


nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
}

nav ul li:hover a {
	text-decoration: none;
}

nav ul li a {
	display: block;
    padding: 0px 20px;
	text-decoration: none;
}

nav ul ul {
/*	border-radius: 0px; padding: 0; */
	position: absolute; top: 100%;
}
nav ul ul li {
	float: none;
	position: relative;
}
nav ul ul li a {
	padding: 15px 20px;
}
nav ul ul li a:hover {
    background: #b6e05c;
	text-decoration: none;
}

/*-gallery stuff-----------------------------------------------*/

.gallery {
  display: inline-block;
  position: relative;
}

.gallery-dummy {
  padding-top: 80%;
  /*        4:3 aspect ratio */
}

.gallery-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #1e4018;
}

.slider-items {
  position: relative;
  cursor: move;
  width: 1200000px;
}

.slider-item {
  float: left;
}

.slider-overlay {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.slider-caption {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  color: #000;
  z-index: 999;
}

.slider-caption a {
  color: #ff0;
}

.slider-image {
  height: 100%;
  width: 100%;
}

.arrow-left {
  float: left;
  margin-left: 2em;
  z-index: 999;
}

.arrow-right {
  z-index: 999;
  float: right;
  margin-right: 2em;
}

/* Tutorial slider styling */


/* Verbose selector cuz slick */
#tut-1 > div > div.arrow.arrow-tut-left.col-lg-2.slick-arrow,
#tut-1 > div > div.arrow.arrow-tut-right.col-lg-2.slick-arrow {
    padding-top: 25%;
}

#tut-1 > div.responsive-buttons-small.row.col-xs-12.col-md-12 {
    display: none;
}

@media only screen
  and (min-device-width: 120px)
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #tut-1 > div.responsive-buttons-small.row.col-xs-12.col-md-12 {
        display: inline-block !important;
    }

    .slick-arrow {
        padding: 0px !important;
    }

    #tut-1 > div > div.arrow.responsive-buttons-large {
        display: none !important;
    }

    .tutorial_highlight div.button_text p {
        font-size: 4vw !important;
        margin-top: 50% !important;
    }




}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px) {

    .timeline {
        height: 1em;
        overflow: visible;
        width: 80% !important;
    }

}

@media screen
  and (min-device-width: 100px)
  and (max-device-width: 1024px)
  and (min-device-height: 575px) {

    #tut-1 > div.responsive-buttons-small.row.col-xs-12.col-md-12 {
        display: inline-block !important;
    }

    .slick-arrow {
        padding: 0px !important;
    }

    #tut-1 > div > div.arrow.responsive-buttons-large {
        display: none !important;
    }

    .timeline {
        height: 1em;
        overflow: visible;
        width: 90% !important;
    }
}

.slick-disabled {
    opacity: 0.1;
    display: block;
}


/* Map */
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    color: black !important;
    background: #f6fce9 !important;
    font-family: 'Vidaloka', sans-serif !important;
}

.leaflet-popup-content-wrapper h4 {
  font-family: 'Love Ya Like A Sister', sans-serif !important;
  padding: 0px;
  margin: 0px;
}

.flag-text {
    border: 0;
    background: none;
}

input.burrow_link {
    margin-top: 1em;
}

/* House Builder */
.slide-item {
    display: inline-block;
    position: relative;
    height: 100%;
}

.slide-item:after {
  padding-top: 50% !important;
  padding-left: 50% !important;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.slide-item-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-height: 100% !important;
}


.register-form {}

.register-form input {
  display: block;
}

.login_pop input {
  display: block;
}


#login_form input {
  display: block;
}

.errorlist li {
    color: red;
    list-style-type: none;
}

@media (max-width: 767px) {
  body {
    min-width: 500px;
  }
}
