html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.clearfix, .container, section {
  overflow: hidden;
  *zoom: 1;
}


h1 {
    font-size: 500%;
}
h2 {
    font-size: 250%;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
    width:100%;
    height:100%;
    min-height:100%;
    font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:visited { 
    color: black;
}

video {
    width: 100%;
    height: auto;
}

.main_bit {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.content {
    position:absolute;
    left:50%;
    margin-left:-500px;
    max-width: 1000px;
    width: 100%;
}
@media only screen and ( max-width: 1000px ) {
    .content {
        margin-left: -50%;
    }
}

.top_layer {
    pointer-events: none;
    z-index: 1;
}

.bottom_layer {
}

.outer_box_container {
}

.box_container {
    width:100%;
    height:700px;
    overflow-y: scroll;
}

.outer_row_container {
    padding-top: 1em;
}

.row_container {
    width:100%;
    height:210px;
/*    overflow-x: scroll; */
}


.box {
    display: inline-block;
    float: left;
    height: 175px;
    width: 175px;
    margin-right: 2em;
    margin-bottom: 2em;
}

.box-overlay {
    background:rgba(255,255,255,.75);
    width: 100%;
    height: 100%;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.box:hover .box-overlay {
    opacity:1;
}

.box-contents {
    left: 0px;
    top: -175px;
    position: relative;
    padding: 0.5em;
    font-size: 75%;
    color: black;
    opacity:0;
}

.box:hover .box-contents {
    opacity:1;
}


/* square things */

.bar {
    width: 100%;
    height: 5em;
    background-color: green;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.timeline {
    height: 3em;
}

.button_container {
    background-color:yellow;
    display:block;
}

/* round things */

.circle {
    border-radius: 2.5em;
	width: 5em;
	height: 5em;
    text-align: center;
}

.small_circle {
    border-radius: 1em;
	width: 2em;
	height: 2em;
    text-align: center;
}

.tiny_circle {
    border-radius: 0.5em;
	width: 1em;
	height: 1em;
    text-align: center;
}

.micro_circle {
    border-radius: 0.25em;
	width: 0.5em;
	height: 0.5em;
    text-align: center;
}

.button {
    background-color: green;
    display: inline-block;
    float: left;
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
}

.button:hover {
    background-color: white;
}

.button:active {
    background-color: green;
}

.event {
    margin-top: -1.5em;
    margin-left: -1.5em;
    position: absolute;
    background:rgba(255,255,0,.75);
}

.time {
    margin-top: 1em;
    margin-left: -0.5em;
    background-color: white;
    /*-webkit-transition: left 1.5s linear;
    -moz-transition: left 1.5s linear;*/
}

.button_text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.event_text {
    font-size: 50%;
}

.hiscores {
    position: fixed;
    border-radius: 1em;
    margin-top: 60%;
    width: 50%;
    background:rgba(255,255,255,.75);
}

.hiscores_table {
    width: 170px;
}

.hiscores_row {
    border: 1px;
    height: 1.8em;
}

.hiscores_left {
    float: left;
    display: block;
    border-radius: 0.5em;
    padding: 0.3em;
    background: black;
    color: white;
}

.hiscores_right {
    border-radius: 0.5em;
    float: right;
    padding: 0.3em;
    min-width: 1em;
    text-align: center;
    clear: right;
    background: black;
    color: white;
}


.cricket_top {
    width:100%
}

.cricket_left {
    width: 50%;
    float: left;
}

.cricket_right {
    width: 50%;
    float: left;
}

.login_box {
    font-size: 150%;
    padding: 0.2em;
    background: #d2f4c7;
}

.field {
    width: 1000px;
    height: 1000px;
}

.burrow-container {
    position: relative;
}

.burrow {
    color: #fff;
    position: absolute;
    text-align: center;
/*    -webkit-transform: translateZ(0);  webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.burrow a {
    color: #fff;
    text-decoration: none;
    font-size: 50%;
}

.burrow .tooltip {
    background: #ffffff;
    bottom: 100%;
    color: #000;
    display: block;
    left: -75px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    width: 150px;
    z-index: 1000;
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.burrow .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}  

.burrow .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
  
.burrow:hover .tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}




