{% extends "base.html" %}
{% load i18n %}
{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<div class="row-fluid">

  <p>
{% blocktrans %}
    In a secret field in Northern Spain, hundreds of cricket burrows are monitored
    using CCTV. This is the first long-term study of behaviour in a wild
    insect, and we need your help to see what the crickets are up to.
{% endblocktrans %}
  </p>

</div>

<div class="row" style="margin:1em;">
  <div class="col-sm-4 col-xs-12 field">
    <img src="{{ MEDIA_URL }}/images/about-field.jpg" width="100%">
    <center><h1>{% trans "THE MEADOW" %}</h1></center>
  </div>
  <div class="col-sm-4 col-xs-12 cameras">
    <img src="{{ MEDIA_URL }}/images/about-cameras.jpg" width="100%">
    <center><h1>{% trans "THE CAMERAS" %}</h1></center>
  </div>
  <div class="col-sm-4 col-xs-12 the-crickets">
    <img src="{{ MEDIA_URL }}/images/about-crickets.jpg" width="100%">
    <center><h1>{% trans "THE CRICKETS" %}</h1></center>
  </div>
</div>

<div class="row-fluid">
  <p>
{% blocktrans %}
By logging events in these videos, you contribute directly to research. Understanding the lives of wild insects allows us to answer questions about how diversity is maintained and about the ageing process. To find out more about our work, have a look here:{% endblocktrans %}
</p>
</div>
<div class="row-fluid">
  <a href="http://www.wildcrickets.org/" target="_blank">
    <div class="button col-xs-offset-4 col-xs-4">
      <p style="text-align:center; padding: 1em 0em 1em 0em;">Wild Crickets Home</p>
    </div>
  </a>
</div>
{% endblock %}
