{% extends "base.html" %}

{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<section class="cricket_top">
<h1>About Cricket Tales</h1>
<div class="row" style="font-size: 150%">
  <div class="col-sm-6 col-xs-12">
    In a secret field in Northern Spain, 300 cricket burrows are monitored using CCTV. The videos reveal the intricate lives of the crickets. This is the first long-term study of behaviour in a wild insect, and we need your help to see what the crickets are up to. By tagging events in these videos, you are helping us to understand the crickets' personalities, how their lives progress, how they age, and why they die.
  </div>
  <div class="col-sm-6 col-xs-12">
    <img src="{{ MEDIA_URL }}/images/field.jpg" width="100%">
  </div>
  <div class="col-xs-12">
    The data that you collect from these videos will be combined with our knowledge of the crickets' genetics and local environment. This will mean we can study whether the crickets' genetics determines their behaviour or ageing process, whether females or males age faster, and how the environment affects the crickets.
    If you want to find out more about our work, have a look <a href="">here</a>.
  </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-xs-12">

    <div class="button col-sm-4 col-xs-12"
         style="background: url(/media/images/buttons/button-3.png); background-size: 100% 100%;"
         onMouseOver="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-3-high.png');"
         onMouseOut= "return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-3.png');"
         onMouseDown="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-3-offset.png');"
         onMouseUp="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-3.png');"
         onclick="window.location.href='/random_movie/'">
      <div class="button_text">
        <p style="font-size:2.5vw;">Play</p>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="button col-sm-4 col-xs-12"
         style="background: url(/media/images/buttons/button-6.png); background-size: 100% 100%;"
         onMouseOver="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-6-high.png');"
         onMouseOut= "return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-6.png');"
         onMouseDown="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-6-offset.png');"
         onMouseUp="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-6.png');"
         onclick="window.location.href='/player/{{ user.id }}'"
         >
      <div class="button_text">
        <p style="font-size:2.5vw;">
          My home
        </p>
      </div>
    </div>
    {% endif %}
  </div> <!-- button container -->
</div>
</section>

{% endblock %}
