{% extends "base.html" %}
{% load i18n %}
{% block top_layer %}
{% endblock %}

{% block bottom_layer %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/slick.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}js/slick.min.js"></script>

<div class="row-fluid">
  <h1>{% blocktrans %}You have watched more of burrow{% endblocktrans %} {{houses_needed_for.first.name}} than anyone else!</h1>
  <p>{% blocktrans %}Design your house with the arrows below{% endblocktrans %}</p>

<div class="row-fluid col-lg-12">
  <div class="arrow arrow-roof-left col-lg-2 col-lg-offset-1">
	<img src="/media/images/left-arrow.png" width="150"/>
  </div>
  <div class="slider-roof col-lg-5">
	<div class="col-lg-2"><img src="/media/images/houses/components/house-1-roof-pink.png" class="thumbnail a" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-2-roof-pink.png" class="thumbnail b" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-3-roof-pink.png" class="thumbnail c" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-4-roof-pink.png" class="thumbnail d" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-5-roof-pink.png" class="thumbnail e" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-6-roof-pink.png" class="thumbnail f" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-7-roof-pink.png" class="thumbnail g" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-8-roof-pink.png" class="thumbnail h" width="150"></div>
  </div>
  <div class="arrow arrow-roof-right col-lg-2">
	<img src="/media/images/right-arrow.png" width="150"/>
  </div>
</div>
<div class="row-fluid col-lg-12">
  <div class="arrow arrow-middle-left col-lg-2 col-lg-offset-1">
	<img src="/media/images/left-arrow.png" width="150"/>
  </div>
  <div class="slider-middle col-lg-5">
	<div class="col-lg-2"><img src="/media/images/houses/components/house-1-middle-pink.png" class="thumbnail a" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-2-middle-pink.png" class="thumbnail b" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-3-middle-pink.png" class="thumbnail c" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-4-middle-pink.png" class="thumbnail d" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-5-middle-pink.png" class="thumbnail e" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-6-middle-pink.png" class="thumbnail f" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-7-middle-pink.png" class="thumbnail g" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-8-middle-pink.png" class="thumbnail h" width="150"></div>
  </div>
  <div class="arrow arrow-middle-right col-lg-2">
	<img src="/media/images/right-arrow.png" width="150"/>
  </div>
</div>
<div class="row-fluid col-lg-12">
  <div class="arrow arrow-ground-left col-lg-2 col-lg-offset-1">
	<img src="/media/images/left-arrow.png" width="150"/>
  </div>
  <div class="slider-ground col-lg-5">
	<div class="col-lg-2"><img src="/media/images/houses/components/house-1-ground-pink.png" class="thumbnail a" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-2-ground-pink.png" class="thumbnail b" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-3-ground-pink.png" class="thumbnail c" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-4-ground-pink.png" class="thumbnail d" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-5-ground-pink.png" class="thumbnail e" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-6-ground-pink.png" class="thumbnail f" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-7-ground-pink.png" class="thumbnail g" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/components/house-8-ground-pink.png" class="thumbnail h" width="150"></div>
  </div>
  <div class="arrow arrow-ground-right col-lg-2">
	<img src="/media/images/right-arrow.png" width="150"/>
  </div>
</div>
<div class="row-fluid col-xs-12">
  <div class="arrow arrow-colour-left col-lg-2 col-lg-offset-1">
	<img src="/media/images/left-arrow.png" width="150"/>
  </div>
  <div class="slider-colour col-lg-5">
	<div class="col-lg-2"><img src="/media/images/houses/colours/blue.png" class="thumbnail a" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/brown.png" class="thumbnail b" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/green.png" class="thumbnail c" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/grey.png" class="thumbnail d" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/orange.png" class="thumbnail e" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/pink.png" class="thumbnail f" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/purple.png" class="thumbnail g" width="150"></div>
	<div class="col-lg-2"><img src="/media/images/houses/colours/yellow.png" class="thumbnail h" width="150"></div>
  </div>
  <div class="arrow arrow-colour-right col-lg-2">
	<img src="/media/images/right-arrow.png" width="150"/>
  </div>
</div>
<div class="row-fluid col-xs-12">
  <button class="col-lg-2 col-lg-offset-3 submit">BUILD</button>
</div>

 <script type="text/javascript">
    $(document).ready(function() {

    	var classes = ['roof', 'middle', 'ground', 'colour'];

    	$(classes).each(function() {
    		$('.slider-' + this).slick({
				centerMode: true,
				centerPadding: '120px',
				arrows: true,
				prevArrow: $('.arrow-'+this+'-left'),
				nextArrow: $('.arrow-'+this+'-right')
			});
    	});

    	$('.submit').click(function() {

    		var select_roof = $('.slider-roof .slick-active img').attr('class').split(' ')[1];
    		var select_middle = $('.slider-middle .slick-active img').attr('class').split(' ')[1];
    		var select_ground = $('.slider-ground .slick-active img').attr('class').split(' ')[1];
    		var select_colour = $('.slider-colour .slick-active img').attr('class').split(' ')[1];

    		var final_house = select_roof + select_middle + select_ground + select_colour;

            window.location = "/house/{{ houses_needed_for.first.id }}/"+final_house;
    	})
    });
  </script>

</div>

{% endblock %}
