{% extends "base.html" %}
{% load i18n %}
{% block top_layer %}
{% endblock %}

{% block bottom_layer %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/slick.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}js/slick.min.js"></script>

<div class="row-fluid">
  <center><p>{% blocktrans %}Design your house with the arrows below{% endblocktrans %}</p></center>

<div class="row-fluid col-xs-offset-1 col-xs-10">
  <div class="arrow arrow-roof-left col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1">
	<img src="/media/images/left-arrow.png" width="60%"/>
  </div>
  <div class="slider-roof col-lg-6 col-md-6 col-sm-7 col-xs-8">
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-1-roof-clear.png" class="slide-item-image a"></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-2-roof-clear.png" class="slide-item-image b" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-3-roof-clear.png" class="slide-item-image c" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-4-roof-clear.png" class="slide-item-image d" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-5-roof-clear.png" class="slide-item-image e" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-6-roof-clear.png" class="slide-item-image f" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-7-roof-clear.png" class="slide-item-image g" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-8-roof-clear.png" class="slide-item-image h" ></div>
  </div>
  <div class="arrow arrow-roof-right col-lg-2 col-md-2 col-sm-2 col-xs-2">
	<img src="/media/images/right-arrow.png" width="60%"/>
  </div>
</div>
<div class="row-fluid col-xs-offset-1 col-xs-10">
  <div class="arrow arrow-middle-left col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1">
	<img src="/media/images/left-arrow.png" width="60%"/>
  </div>
  <div class="slider-middle col-lg-6 col-md-6 col-sm-7 col-xs-8">
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-1-middle-clear.png" class="slide-item-image a" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-2-middle-clear.png" class="slide-item-image b" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-3-middle-clear.png" class="slide-item-image c" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-4-middle-clear.png" class="slide-item-image d" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-5-middle-clear.png" class="slide-item-image e" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-6-middle-clear.png" class="slide-item-image f" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-7-middle-clear.png" class="slide-item-image g" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-8-middle-clear.png" class="slide-item-image h" ></div>
  </div>
  <div class="arrow arrow-middle-right col-lg-2 col-md-2 col-sm-2 col-xs-2">
	<img src="/media/images/right-arrow.png" width="60%"/>
  </div>
</div>
<div class="row-fluid col-xs-offset-1 col-xs-10">
  <div class="arrow arrow-ground-left col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1">
	<img src="/media/images/left-arrow.png" width="60%"/>
  </div>
  <div class="slider-ground col-lg-6 col-md-6 col-sm-7 col-xs-8">
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-1-ground-clear.png" class="slide-item-image a" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-2-ground-clear.png" class="slide-item-image b" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-3-ground-clear.png" class="slide-item-image c" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-4-ground-clear.png" class="slide-item-image d" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-5-ground-clear.png" class="slide-item-image e" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-6-ground-clear.png" class="slide-item-image f" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-7-ground-clear.png" class="slide-item-image g" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/house-parts/house-8-ground-clear.png" class="slide-item-image h" ></div>
  </div>
  <div class="arrow arrow-ground-right col-lg-2 col-md-2 col-sm-2 col-xs-2">
	<img src="/media/images/right-arrow.png" width="60%"/>
  </div>
</div>
<div class="row-fluid col-xs-offset-1 col-xs-10">
  <div class="arrow arrow-colour-left col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1">
	<img src="/media/images/left-arrow.png" width="60%"/>
  </div>
  <div class="slider-colour col-lg-6 col-md-6 col-sm-7 col-xs-8">
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/blue.png" class="slide-item-image a" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/brown.png" class="slide-item-image b" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/green.png" class="slide-item-image c" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/grey.png" class="slide-item-image d" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/orange.png" class="slide-item-image e" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/pink.png" class="slide-item-image f" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/purple.png" class="slide-item-image g" ></div>
	<div class="slide-item col-lg-2 col-md-2 col-sm-2 col-xs-2"><img src="/media/images/houses/colours/yellow.png" class="slide-item-image h" ></div>
  </div>
  <div class="arrow arrow-colour-right col-lg-2 col-md-2 col-sm-2 col-xs-2">
	<img src="/media/images/right-arrow.png" width="60%"/>
  </div>
</div>
<div class="row-fluid col-xs-12">
  <button id="builder" class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5 submit">
  <div class="button_text">
    <p>BUILD</p>
  </div>
  </button>
</div>

 <script type="text/javascript">
    $(document).ready(function() {

    	var classes = ['roof', 'middle', 'ground', 'colour'];

    	$(classes).each(function() {
    		$('.slider-' + this).slick({
    			centerMode: true,
				centerPadding: '120px',
				arrows: true,
				prevArrow: $('.arrow-'+this+'-left'),
				nextArrow: $('.arrow-'+this+'-right'),
				responsive: [
							    {
							      breakpoint: 1024,
							      settings: {
							        slidesToShow: 1,
							        slidesToScroll: 1,
							        centerMode: false,
							      }
							    },
							    {
							      breakpoint: 600,
							      settings: {
							        slidesToShow: 1,
							        slidesToScroll: 1,
							        centerMode: false,
							      }
							    },
							    {
							      breakpoint: 480,
							      settings: {
							        slidesToShow: 1,
							        slidesToScroll: 1,
							        centerMode: false,

							      }
							    }
						    ]
			});
    	});

    	$('.submit').click(function() {

    		var select_roof = $('.slider-roof .slick-active img').attr('class').split(' ')[1];
    		var select_middle = $('.slider-middle .slick-active img').attr('class').split(' ')[1];
    		var select_ground = $('.slider-ground .slick-active img').attr('class').split(' ')[1];
    		var select_colour = $('.slider-colour .slick-active img').attr('class').split(' ')[1];

    		var final_house = select_roof + select_middle + select_ground + select_colour;

            window.location = "/house/{{ houses_needed_for.first.id }}/"+final_house;
    	})
    });
  </script>

</div>

{% endblock %}
