{% extends "base.html" %}

{% block top_layer %}
{% endblock %}


{% block bottom_layer %}
<section class="cricket_top">
  <h1>Cricket {{ cricket.name }}'s homepage</h1>
  <a href="../.."><div class="box" style="background:url({{ cricket.image.url }}); float:left;"></div></a>
  <div style="float:left; margin:10px;">
    <div class="hiscores_table">
      Top fans:
      {% for profile in fan_list %}
      <div class="hiscores_row">
        <div class="hiscores_left">{{ profile.user__username }}</div>
        <div class="hiscores_right">{{ profile.count }}</div>
      </div>
      {% endfor %}
      </br>
      <div class="hiscores_row">
        <div class="hiscores_left">Anon</div>
        <div class="hiscores_right">{{ anon }}</div>
      </div>
      <div class="hiscores_row">
        <div class="hiscores_left">Total</div>
        <div class="hiscores_right">{{ num_events }}</div>
      </div>
    </div>
  </div>
  <div style="float:left; margin:10px;">
    Stuff here all about this individual cricket, wing patterns etc etc.
  </div>
</section>

<section class="cricket_left">
<h2>Least watched movies</h2>
<div class="box_container">
{% if movies %}
    {% for movie in movies %}
    <a href="/movie/{{ movie.id }}/">
      <div class="box" style="background:url({{ MEDIA_URL }}movies/{{ movie.name }}.jpg);">
        <div class="box-overlay"></div>
        <div class="box-contents">
          Movie: {{ movie.name }}</br>
          Contributors: {{ movie.contributors }}</br>
          Events found: {{ movie.num_events }}</br>
        </div>
      </div>
    </a>
    {% endfor %}
{% else %}
<p>No movies are available for this cricket yet.</p>
{% endif %}
</div>
</section>

<section class="cricket_right">
<h2>Most interesting movies</h2>
<div class="box_container">
{% if movies %}
    {% for movie in movies %}
    <a href="/movie/{{ movie.id }}/">
      <div class="box" style="background:url({{ MEDIA_URL }}movies/{{ movie.name }}.jpg)">
        <div class="box-overlay"></div>
        <div class="box-contents">
          Movie: {{ movie.name }}</br>
          Contributors: {{ movie.contributors }}</br>
          Events found: {{ movie.num_events }}</br>
        </div>
      </div>
    </a>
    {% endfor %}
{% else %}
<p>No movies are available for this cricket yet.</p>
{% endif %}
</div>
</section>


{% endblock %}
