{% extends "base.html" %}

{% block top_layer %}
<h1>Movies of {{ cricket.name }}</h1>
<div id="footnotediv"></div>
<div id="test"></div>
{% endblock %}


{% block bottom_layer %}
<div class="box_container">
{% if movies %}
    {% for movie in movies %}

    <a href="/movie/{{ movie.id }}/">
      <div class="box" style="background:url({{ movie.thumb.url }});">
        <div class="box-overlay"></div>
      </div>
    </a>

    {% endfor %}
{% else %}
    <p>No crickets are available.</p>
{% endif %}
</div>
{% endblock %}
