{% extends "base.html" %}

{% block top_layer %}
<h1>Movies of {{ cricket.name }}</h1>
<div id="footnotediv"></div>
<div id="test"></div>
{% endblock %}


{% block bottom_layer %}
<div class="box_container">
{% if movies %}
    <ul>
    {% for movie in movies %}
    <div class="box">
      <li>
        <a href="/movie/{{ movie.id }}/">
          <img src="{{ movie.thumb.url }}">
        </a>
      </li>
    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No crickets are available.</p>
{% endif %}
</div>
{% endblock %}
