{% extends "base.html" %}

{% block top_layer %}
<!--<div class="hiscores">
  <h2>Craziest cricket clickers:</h2><br/>
  <div class="hiscores_table">
    {% for profile in hiscores_list %}
    <div class="hiscores_row">
      <div class="hiscores_left">{{ profile.user__username }}</div>
      <div class="hiscores_right">{{ profile.count }}</div>
    </div>
    {% endfor %}
  </div>
</div>-->
{% endblock %}

{% block bottom_layer %}
<div style="margin-top:1em; font-size:150%;">
Cricket tales is a citizen science experiment where you can help us understand the busy world of wild crickets by recording events that happen during one minute movies of their burrows.
</div>
<div class="outer_row_container">
  <h2>Meet our crickets</h2>
  <div class="row_container">
    {% if crickets_list %}
    {% for cricket in crickets_list %}
    <a href="/cricket/{{ cricket.id }}/">
      <div class="box" style="background:url({{ cricket.image.url }});">
        <div class="box-overlay"></div>
        <div class="box-contents">
          Name: {{ cricket.name }}</br>
          <span style="font-size:150%">Biggest fan: {{ cricket.biggest_fan }}</span></br>
          Movies: {{ cricket.num_videos }}</br>
          Contributors: {{ cricket.num_contributors }}</br>
          Total events: {{ cricket.total_events }}</br>
        </div>
    </div></a>
    {% endfor %}
    {% else %}
    <p>No crickets are available.</p>
    {% endif %}
  </div>
</div>

<div class="field">
  <h2>See their homes</h2>
  <div class="burrow-container">
    <img src="/media/images/grass.png"></img>
    {% if burrows %}
    {% for burrow in burrows %}

    <div class="burrow" style="left:{{ burrow.pos_x }}px; top:{{ burrow.pos_y }}px;">
      <a href="/burrow/{{ burrow.id }}/">
        {% if burrow.biggest_contributor != "None yet" %}
        <div class="owner">{{ burrow.biggest_contributor }}</div>
        {% endif %}
	    <img src={% if burrow.num_movies_ready > 0 %} "/media/images/house-full.png" {% else %} "/media/images/house-empty.png" {% endif %}></img>
      </a>
      <span class="tooltip">
	<h3>{{ burrow.name }}</h3> </br>
	{% if burrow.num_movies_ready > 0 %}
	Movies ready: {{ burrow.num_movies_ready }}</br>
	Total movies: {{ burrow.num_movies }}</br>
	Biggest contributor: {{ burrow.biggest_contributor }}</br>
	Contributors: {{ burrow.num_contributors }}</br>
	Total events: {{ burrow.total_events }}</br>
	{% else %}
	Waiting for movies!
	{{ burrow.num_movies }} in the queue...</br>
	{% endif %}
      </span>
    </div>
    {% endfor %}
    {% else %}
    <p>No burrows are available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
