{% extends "base.html" %}

{% block top_layer %}
<h1>Wild Cricket Tales</h1>

{% if user.is_authenticated %}
Hello {{ user.username }}!
<a href="/logout/">Logout</a>
{% else %}
<a href="/login/">Login</a>
<a href="/register/">Register Here</a>
{% endif %}


{% endblock %}

{% block bottom_layer %}
<div class="box_container">
{% if crickets_list %}
    <ul>
    {% for cricket in crickets_list %}
    <a href="/cricket/{{ cricket.id }}/">
      <div class="box" style="background:url({{ cricket.image.url }});">
        <div class="box-overlay"></div>
      </div>
    </a>
    {% endfor %}
    </ul>
{% else %}
    <p>No crickets are available.</p>
{% endif %}
</div>
{% endblock %}
