{% extends "base.html" %}

{% block top_layer %}
<h1>Wild Cricket Tales</h1>

<div class="hiscores">
  <h2>Craziest cricket clickers:</h2><br/>
  <div class="hiscores_table">
    {% for profile in hiscores_list %}
    <div class="hiscores_row">
      <div class="hiscores_left">{{ profile.user }}</div>
      <div class="hiscores_right">{{ profile.num_events }}</div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block bottom_layer %}
{% if user.is_authenticated %}
Hello {{ user.username }}!
<a href="/logout/">Logout</a>
{% else %}
<a href="/login/">Login</a>
<a href="/register/">Register</a>
{% endif %}

<div class="box_container">
{% if crickets_list %}
    {% for cricket in crickets_list %}
    <a href="/cricket/{{ cricket.id }}/">
      <div class="box" style="background:url({{ cricket.image.url }});">
        <div class="box-overlay"></div>
    </div></a>
    {% endfor %}
    </ul>
{% else %}
    <p>No crickets are available.</p>
{% endif %}
</div>
{% endblock %}
