{% extends "base.html" %}
{% load i18n %}

{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />

<div class="row col-sm-12">
  <!-- map -->
  <div class="col-sm-8 col-xs-12">
      <div id="map" class="row-fluid" style="height:800px;"></div>

      <script src="{{MEDIA_URL}}/js/leaflet.js"></script>

      <script>
        function create_marker(pos_x, pos_y, name, owner, videos_to_view,
                               percent_viewed,
                               num_contributors, events_recorded,
                               id, house) {

          var lat_string = pos_x;
          var long_string = pos_y;
          var latitude = parseFloat(lat_string);
          var longitude = parseFloat(long_string);

          // Default marker
          var marker = L.marker(new L.LatLng(latitude, longitude), {
            icon: L.icon({
                iconUrl: '{{MEDIA_URL}}'+image_from_house(house),
                iconSize: size_from_house(house,map.getZoom()),
            })
          });

          var popup_title = '<h4>{% trans 'Burrow' %} '+name+'</h4><br/>';
          var owned_by = '<strong>House built by</strong> '+owner+'<br/>';
          var to_view = '<strong>{% trans 'Videos till owner:' %} </strong> '+ videos_to_view +'<br/>';
          var total_videos = '<progress value="'+percent_viewed+'" max="100"></progress><br/><strong>{% trans 'Complete:' %}</strong> '+ percent_viewed +'%<br/>';
          var total_contributors = '<strong>{% trans 'Total Contributors:' %} </strong> '+ num_contributors +'<br/>';
          var events_recorded = '<strong>{% trans 'Total Events Recorded:' %} </strong> '+ events_recorded +'<br/>';
          var burrow_button = '<form action="/random_burrow_movie/'+id+'"><input type="submit" class="burrow_link" value="{% trans 'Go to Burrow' %}"></form>'

          marker.bindPopup(popup_title + owned_by + to_view + total_videos + total_contributors + events_recorded + burrow_button);

          marker.addTo(map);

          // The bizznizz
          map.on('zoomend', function (e) {
            new_icon(map.getZoom());
          });

        function new_icon(zoom) {
            var icon = marker.options.icon;
            icon.options.iconSize = size_from_house(house,zoom);
            icon.options.iconUrl = '{{MEDIA_URL}}'+image_from_house(house)
            marker.setIcon(icon);
        }

        }

        $(document).ready(function() {

        map = L.map('map').setView([0, 0], 4);
        L.tileLayer('{{MEDIA_URL}}map/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 6,
            attribution: 'Cricket Burrow Surveys Ltd',
            tms: true
        }).addTo(map);

    {% for burrow in burrows %}

      create_marker('{{ burrow.pos_x }}', '{{ burrow.pos_y }}',
        '{{ burrow.name }}',
        '{{ burrow.owner }}',
        '{{ burrow.videos_to_view }}',
        Number(({{ burrow.num_movies_watched }}/{{ burrow.num_movies }})*100).toFixed(1),
        '{{ burrow.total_contributors }}',
        '{{ burrow.total_events }}',
        '{{ burrow.id }}',
        '{{burrow.house_info}}');

    {% endfor %}


        });
    </script>



  </div> <!-- map -->

  <div class="row col-sm-4 col-xs-12"> <!-- info block -->

    <div class="row-fluid score col-sm-12">
      <h1>{% trans "SCORE" %}</h1>
      <div class="row">
      <div class="score-name col-sm-9 col-xs-9">{% trans "Videos watched" %}</div>
      <div class="score-value col-sm-2 col-xs-2">{{ user.profile.num_videos_watched }}</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-9 col-xs-9">{% trans "Houses built" %}</div>
      <div class="score-value col-sm-2 col-xs-2">{{ user.profile.num_burrows_owned }}</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-9 col-xs-9">{% trans "Empty burrows" %}</div>
      <div class="score-value col-sm-2 col-xs-2">{{ num_empty_burrows }}</div>
      </div>
    </div>

    <div class="row-fluid news-feed col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>{% trans "NEWS FEED" %}</h1>

      {% for story in stories %}
      <div class="news-bubble col-lg-6 col-md-12 col-sm-12 col-xs-4">
        <div class="news-story">{{story.text}}</div>
        <img src="{{MEDIA_URL}}images/crickets/bubble-0{{ rand|add:"123456"|make_list|random }}.png" class="news-stretch" alt="" />
      </div>
      {% endfor %}


    </div>
  </div> <!-- info block -->
</div> <!-- main row -->


<!--
<h2>Movies seen</h2>
<div class="box_container">
{% if movies %}
{% for movie in movies %}
    <a href="/movie/{{ movie.movie.id }}/">
      <div class="box" style="background:url({{ MEDIA_URL }}movies/{{ movie.movie.name }}.jpg)">
        <div class="box-overlay"></div>
{% cycle 'even' 'odd'%}        <div class="box-contents">
          Movie: {{ movie.movie.name }}</br>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
<p>This player has not contributed to any movies yet.</p>
{% endif %}
</div>
-->

{% endblock %}
