{% extends "base.html" %}
{% load i18n %}

{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/leaflet.css" />


<div class="row col-sm-12">
  <!-- map -->
  <div class="col-sm-8 col-xs-12">

    <div id="map" class="row-fluid col-sm-12" style="height:500px;"></div>

      <script src="{{MEDIA_URL}}/js/leaflet.js"></script>

      <script>
        function create_marker(pos_x, pos_y, name, owner, videos_to_view,
                               percent_viewed, id, house, flag) {

          var lat_string = pos_x;
          var long_string = pos_y;
          var latitude = parseFloat(lat_string);
          var longitude = parseFloat(long_string);

          // Default marker
          var marker = L.marker(map.unproject([latitude, longitude]), {
            icon: L.icon({
                iconUrl: '{{MEDIA_URL}}'+image_from_house(house),
                iconSize: size_from_house(house,map.getZoom()),
            })
          });

          var popup_title = '<h4>{% trans 'Burrow' %} '+name+'</h4><br/>';
          var owned_by = 'House built by:<br/><strong>'+owner+'</strong><br/>';
          var to_view = '{% trans 'Movies to watch <br/>till you can build:' %}<br/> <strong>'+ videos_to_view +'</strong><br/>';
          var total_videos = '<progress value="'+percent_viewed+'" max="100"></progress><br/>{% trans 'Complete:' %}<strong>'+ percent_viewed +'%</strong><br/>';
          var burrow_button = '<form action="/random_burrow_movie/'+id+'"><input type="submit" class="burrow_link" value="{% trans 'Go to Burrow' %}"></form>'

          marker.bindPopup('<div class="map-popup">' + popup_title + owned_by + to_view + total_videos + burrow_button + '</div>');

          marker.addTo(map);

          if (flag != "") {
            var flag_image = '{{ MEDIA_URL }}images/houses/'+flag
            flag_icon = new L.Icon({iconUrl: flag_image}),
            flag_icon.options.iconSize = flag_size(map.getZoom());
            var flag_marker = L.marker(map.unproject([latitude, longitude-50]), {icon: flag_icon}).addTo(map);
          }

          // The bizznizz
          map.on('zoomend', function (e) {
            var icon = marker.options.icon;
            icon.options.iconSize = size_from_house(house,map.getZoom());
            icon.options.iconUrl = '{{MEDIA_URL}}'+image_from_house(house)
            marker.setIcon(icon);

            if (flag!="") {
              var flag_icon = flag_marker.options.icon;
              flag_icon.options.iconSize = flag_size(map.getZoom());
              flag_icon.options.iconUrl = flag_image;
              flag_marker.setIcon(flag_icon);
            }
          });

        }

        $(document).ready(function() {

        map = L.map('map').setView([0, 0], 4);
        L.tileLayer('{{MEDIA_URL}}map/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 6,
            attribution: '<a href="http://www.wildcrickets.org/">Wild Crickets: evolution in nature</a>',
            tms: true,
            crs: L.CRS.Simple
        }).addTo(map);

        // restricts the map, but is a bit iffy
        var southWest = map.unproject([0, 16384], map.getMaxZoom());
        var northEast = map.unproject([16384, 0], map.getMaxZoom());
        map.setMaxBounds(new L.LatLngBounds(southWest, northEast));

    {% for burrow in burrows %}

      create_marker('{{ burrow.pos_x }}', '{{ burrow.pos_y }}',
        '{{ burrow.name }}',
        '{{ burrow.owner }}',
        '{{ burrow.videos_to_view }}',
        Number(({{ burrow.num_movies_watched }}/{{ burrow.num_movies }})*100).toFixed(1),
        '{{ burrow.id }}',
        '{{burrow.house_info}}',
        '{{burrow.flag}}');

    {% endfor %}


        });
    </script>



  </div> <!-- map -->

  <div class="row col-sm-4 col-xs-12"> <!-- info block -->

    <div class="row-fluid score col-sm-12">
      <h1>{% trans "YOUR SCORE" %}</h1>
      <div class="row">
      <div class="score-name col-sm-9 col-xs-9">{% trans "Videos watched" %}</div>
      <div class="score-value col-sm-2 col-xs-2">{{ user.profile.num_videos_watched }}</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-9 col-xs-9">{% trans "Houses built" %}</div>
      <div class="score-value col-sm-2 col-xs-2">{{ user.profile.num_burrows_owned }}</div>
      </div>
    </div>

    <div class="row-fluid news-feed col-lg-12 col-md-12 col-sm-12 col-xs-12"
         style="height:55vh;">
      <h1>{% trans "NEWS FEED" %}</h1>

      {% for story in stories %}
      <div class="news-bubble col-lg-12 col-md-12 col-sm-12 col-xs-3">
        <div class="news-story">{{story.text}}</div>
        <img src="{{MEDIA_URL}}images/crickets/bubble-0{{ rand|add:"123456"|make_list|random }}.png" class="news-stretch" alt="" />
      </div>
      {% endfor %}

    </div>



  </div> <!-- info block -->
</div> <!-- main row -->


<!--
<h2>Movies seen</h2>
<div class="box_container">
{% if movies %}
{% for movie in movies %}
    <a href="/movie/{{ movie.movie.id }}/">
      <div class="box" style="background:url({{ MEDIA_URL }}movies/{{ movie.movie.name }}.jpg)">
        <div class="box-overlay"></div>
{% cycle 'even' 'odd'%}        <div class="box-contents">
          Movie: {{ movie.movie.name }}</br>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
<p>This player has not contributed to any movies yet.</p>
{% endif %}
</div>
-->

{% endblock %}
