{% extends "base.html" %}

{% block top_layer %}
<h1>Movie of {{ movie.cricket }}</h1>
<div id="footnotediv"></div>
<div id="test"></div>
{% endblock %}


{% block bottom_layer %}
<script>video_setup("{{ movie.cricket.image.url }}");</script>

<video nocontrols id="ourvideo">
  <source src="{{ MEDIA_URL }}{{movie.movie_file_webm}}" type="video/webm">
  <source src="{{ MEDIA_URL }}{{movie.movie_file_mp4}}" type="video/mp4">
  <source src="{{ MEDIA_URL }}{{movie.movie_file_ogg}}" type="video/ogg">
  I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
  <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
</video>

<div class="button_container bar">
  {% for event_type in event_types %}
  <div class="button circle"
       onclick="add_event('{{event_type.name}}',{{event_type.id}},{{movie.id}},'{{user.id}}')"
       style="width:{{event_type.width}}%;">
    <div class="button_text">{{event_type.name}}</div>
  </div>
  {% endfor %}
</div>

<div id="timeline" class="timeline bar">
  {% for event in events %}
  <script>render_event("{{event.type}}",{{event.start_time}});</script>
  {% endfor %}
  <div id="time" class="time tiny_circle"></div>
</div>

{% endblock %}
