{% extends "base.html" %}
{% load i18n %}

{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />

<div class="row">
  <!-- map -->
  <div class="col-sm-8 col-xs-12">
      <h1>{% blocktrans %}{{ user.username }}'s burrow map{% endblocktrans %}</h1>

      <div id="map" class="row-fluid" style="height:500px;"></div>

      <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

      <script>
        var map = L.map('map').setView([0, 0], 4);
        L.tileLayer('{{MEDIA_URL}}map/{z}/{x}/{y}.png', {
            minZoom: 1,
            maxZoom: 6,
            attribution: 'Cricket Burrow Surveys Ltd',
            tms: true
        }).addTo(map);

        function create_marker(pos_x, pos_y, name, num_movies_ready, num_contributors, num_movies_watched, num_movies_unwatched, id) {
          var lat_string = pos_x;
          var long_string = pos_y;
          var latitude = parseFloat(lat_string);
          var longitude = parseFloat(long_string);
          
          var random_file_no = Math.floor(Math.random() * (7 - 1 + 1)) + 1;

          // Default marker
          var marker = L.marker(new L.LatLng(latitude, longitude), {
            icon: L.icon({
                iconUrl: '{{MEDIA_URL}}images/burrows/burrow-'+random_file_no+'.png',
                iconSize: [30, 20],
            })
          });


          var popup_title = '<h4>Burrow {{ burrow.name }}</h4><br/>';
          var total_videos = '<strong>Total Videos: </strong> '+ num_movies_ready +'<br/>';
          var total_contributors = '<strong>Total Contributors: </strong> '+ num_contributors +'<br/>';
          var total_videos_watched = '<strong>Total Videos Watched: </strong> '+ num_movies_watched +'<br/>';
          var total_videos_unwatched = '<strong>Total Videos Unwatched: </strong> '+ num_movies_unwatched +'<br/>';
          var burrow_button = '<form action="/random_burrow_movie/'+id+'"><input type="submit" class="burrow_link" value="Go to Burrow"></form>'
          
          marker.bindPopup(popup_title + total_videos + total_contributors + total_videos_watched + total_videos_unwatched + burrow_button);

          marker.addTo(map);    
          
          // The bizznizz
          map.on('zoomend', function (e) {
            var currentZoom = map.getZoom();

            if(currentZoom == 1) {
              new_icon(5, 3.3335);
            }
            else if(currentZoom == 2) {
              new_icon(10, 6.667);
            }
            else if(currentZoom == 3) {
              new_icon(20, 13.334);
            }
            else if(currentZoom == 4) {
              new_icon(30, 20);
            }
            else if(currentZoom == 5) {
              new_icon(70, 46.669);
            } 
            else if (currentZoom == 6) {
              new_icon(125, 83.3375);
            }
            
          });

          function new_icon(x, y) {
            var icon = marker.options.icon;
            icon.options.iconSize = [x, y];
            icon.options.iconUrl =
            '{{MEDIA_URL}}images/burrows/burrow-'+random_file_no+'.png';
            marker.setIcon(icon);
          }
        }
        
    </script>

    {% for burrow in burrows %}
    <script>      
    create_marker('{{ burrow.pos_x }}', '{{ burrow.pos_y }}', '{{ burrow.name }}', '{{ burrow.num_movies_ready }}', '{{ burrow.num_contributors }}', '{{ burrow.num_contributors }}', '{{ burrow.num_movies_watched }}', '{{ burrow.id }}');
    </script>
    {% endfor %}


  </div> <!-- map -->

  <div class="col-sm-4 col-xs-12"> <!-- info block -->
    <div class="score row-fluid">
      <h1>{% trans "SCORE" %}</h1>
      <div class="row">
      <div class="score-name col-sm-6">{% trans "Videos tagged" %}</div>
      <div class="score-value col-sm-3">{{ movies.count }}</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-6">{% trans "Houses built" %}</div>
      <div class="score-value col-sm-3">0</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-6">{% trans "Empty burrows" %}</div>
      <div class="score-value col-sm-3">999</div>
      </div>
    </div>

    

    <div class="news-feed row-fluid">
      <h1>{% trans "NEWS FEED" %}</h1>
    </div>
  </div> <!-- info block -->
</div> <!-- main row -->

<!--
<h2>Movies seen</h2>
<div class="box_container">
{% if movies %}
{% for movie in movies %}
    <a href="/movie/{{ movie.movie.id }}/">
      <div class="box" style="background:url({{ MEDIA_URL }}movies/{{ movie.movie.name }}.jpg)">
        <div class="box-overlay"></div>
        <div class="box-contents">
          Movie: {{ movie.movie.name }}</br>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
<p>This player has not contributed to any movies yet.</p>
{% endif %}
</div>
-->

{% endblock %}
