{% extends "base.html" %}
{% load i18n %}

{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<div class="row">
  <!-- map -->
  <div class="col-sm-8 col-xs-12">
    <div class="map row-fluid">
      <h1>{% blocktrans %}{{ user.username }}'s burrow map{% endblocktrans %}</h1>
    </div>
  </div> <!-- map -->

  <div class="col-sm-4 col-xs-12"> <!-- info block -->
    <div class="score row-fluid">
      <h1>{% trans "SCORE" %}</h1>
      <div class="row">
      <div class="score-name col-sm-6">{% trans "Videos tagged" %}</div>
      <div class="score-value col-sm-3">{{ movies.count }}</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-6">{% trans "Houses built" %}</div>
      <div class="score-value col-sm-3">0</div>
      </div>
      <div class="row">
      <div class="score-name col-sm-6">{% trans "Empty burrows" %}</div>
      <div class="score-value col-sm-3">999</div>
      </div>
    </div>
    <div class="news-feed row-fluid">
      <h1>{% trans "NEWS FEED" %}</h1>
    </div>
  </div> <!-- info block -->
</div> <!-- main row -->

<!--
<h2>Movies seen</h2>
<div class="box_container">
{% if movies %}
{% for movie in movies %}
    <a href="/movie/{{ movie.movie.id }}/">
      <div class="box" style="background:url({{ MEDIA_URL }}movies/{{ movie.movie.name }}.jpg)">
        <div class="box-overlay"></div>
        <div class="box-contents">
          Movie: {{ movie.movie.name }}</br>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
<p>This player has not contributed to any movies yet.</p>
{% endif %}
</div>
-->

{% endblock %}
