{% extends "base.html" %}
{% load i18n %}
{% block bottom_layer %}
{% if registered %}
<strong>Thank you for registering!</strong>
<a href="/">Return to the homepage.</a><br />
{% else %}
<div class="row-fluid">
<center>
{% blocktrans %}Make up your username (don't use an email address)<br/>
<span class="form-verify">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>{% endblocktrans %}
<form id="user_form" class="register-form" method="post" action="/register/"
      enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.as_p }}
  <p>
    {% blocktrans %}
    We are collecting information into people who contribute to
    citizen science projects - this information is optional.
    {% endblocktrans %}
  </p>
  <p>
    <label for="id_age_range">Gender:</label>
    <select class="lang-select" id="id_gender" name="gender" type="number">
      <option value="0" selected="selected">{% trans "Prefer not to say" %}</option>
      <option value="1">{% trans "Male" %}</option>
      <option value="2">{% trans "Female" %}</option>
      <option value="3">{% trans "Other" %}</option>
    </select>
  </p>
  <p>
    <label for="id_age_range">Age range:</label>
    <select class="lang-select" id="id_age_range" name="age_range" type="number">
      <option value="0" selected="selected">{% trans "Prefer not to say" %}</option>
      <option value="1">{% trans "Younger than 10" %}</option>
      <option value="2">{% trans "10 to 15" %}</option>
      <option value="3">{% trans "16 to 35" %}</option>
      <option value="4">{% trans "36 to 50" %}</option>
      <option value="5">{% trans "Older than 50" %}</option>
    </select>
  </p>
  {% blocktrans %}
  Are you happy for us to use your data for insect behaviour research purposes?
  {% endblocktrans %}
  <input type="submit" name="submit" value="Yes" />
</form>
<a href="/">
  <button id="tutorial_2">
    {% trans "No thanks" %}
  </button>
</a>
</centre>
</div>
{% endif %}
{% endblock %}
