{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<script src="{{ MEDIA_URL }}js/slick.min.js"></script>

<div class="row-fluid"><!-- video/prompt row -->
  <div class="col-lg-9 col-md-9 col-sm-offset-1 col-sm-9 col-xs-12" style="padding-left:0px; padding-right:0px;"><!-- video/prompt div -->

   <div id="tut-4" class="col-xs-12">
        <h1>4. {% trans "ID CRICKETS" %}</h1>
         <div class="row-fluid">
          <div id="id-buttongroup" class="tutorial_highlight_id col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <div class="button id-display col-lg-6 col-md-6 col-sm-6 col-xs-6" style="cursor: auto; background: url(/media/images/buttons/button-3.png); background-size: 100% 100%;">
              <div class="button_text">
                <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cricket-id-display">
                  {% trans 'ANOTHER CRICKET' %}</p>
              </div>
            </div>
            <div class="button id-display col-lg-6 col-md-6 col-sm-6 col-xs-6" style="cursor: auto; background: url(/media/images/buttons/squiggle.png); background-size: 100% 100%;">
              <div class="button_text">
                <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cricket-id-display">
                  {% trans 'ID' %}</p>
              </div>
            </div>
          </div>
        </div>
        {% blocktrans %}
         If you see a cricket and can read the tag on
         its back, click the ID button. The video will pause and you can enter
         the two digits of the ID code, or click no tag if it doesn’t have
         one. Make sure you read the tag the right way up – the top of the tag is
         by the head - the example crickets below are LU and TT:
        {% endblocktrans %}

        <div class="row-fluid">
          <div class="col-sm-6 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/id-2.jpg" width="100%">
          </div>
          <div class="col-sm-6 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/id-1.jpg" width="100%">
          </div>
        </div>

        <div class="row-fluid">
          <center>
             <button id="tutorial_2" onclick="window.location='{% url 'tutorial_predators' %}'">
              {% trans "Go Back" %}
            </button>
            <button id="tutorial" onclick="window.location='{% url 'tutorial_ready' %}'">
              {% trans "Got it!" %}
            </button>
          </center>
        </div>
        <img class="col-xs-2 col-xs-offset-5" src="/media/images/crickets/9.png">
     </div>

      </div>

  </div>
</div>
</div><!-- End player row-->
<script>

$('#slider-tutorial').slick({
    infinite: false,
    arrows: true,
    prevArrow: $('.arrow-tut-left'),
    nextArrow: $('.arrow-tut-right')
});

$('#slider-tutorial-movement').slick({
    infinite: false,
    arrows: true,
    prevArrow: $('.arrow-tut-left'),
    nextArrow: $('.arrow-tut-right')
});


$('#critters').slick({
    infinite: false,
    arrows: true,
    prevArrow: $('.arrow-tut-left'),
    nextArrow: $('.arrow-tut-right'),
});
</script>
{% endblock %}
