{% extends "base.html" %}
{% load i18n %}
{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<script src="{{ MEDIA_URL }}js/slick.min.js"></script>

<div class="row-fluid"><!-- video/prompt row -->
  <div class="col-sm-8 col-xs-12" style="padding-left:0px; padding-right:0px;"><!-- video/prompt div -->

    <div class="row-fluid"><!-- Player row -->
      <div id="tut-main" class="col-xs-12">

        {% blocktrans %}
        For each video, you will have these buttons
        so you can record what you see. Click
        through the categories below to see how
        to use the buttons – if you are logged in
        you only need to do this once, but you can
        come back to this page at any time:
        {% endblocktrans %}

        <center>
          <ul class="tutorial_list">
            <li><button id="tutorial" onclick="switch_tutorial('tut-main','tut-1');">{% trans "Begin Tutorial" %}</button></li>
          </ul>
        </center>


      </div>

      <div id="tut-1" class="col-xs-12" style="display:none">
        <h1>1. {% trans "BASIC BEHAVIOURS" %}</h1>

        {% blocktrans %}
        These buttons are for cricket behaviours. Scroll
        through the four videos below to learn how to
        identify each behaviour.
        {% endblocktrans %}

        <div class="responsive-buttons-small row col-xs-12 col-md-12">
          <div class="arrow arrow-tut-left col-lg-2 col-md-2 col-xs-2">
            <img src="/media/images/left-arrow.png" width="100"/>
          </div>
          <div class="arrow arrow-tut-right col-lg-2 col-md-2 col-xs-2 col-xs-offset-8">
            <img src="/media/images/right-arrow.png" width="100"/>
          </div>
        </div>
        <div class="row-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="arrow responsive-buttons-large arrow-tut-left col-lg-2 col-md-1 col-xs-1">
            <img src="/media/images/left-arrow.png" width="100"/>
          </div>
          <div id="slider-tutorial" class="slider-tutorial col-lg-8 col-md-12 col-xs-12">
            <div class="slider-item">
              <div class="slider-caption"><h2 class="text-center">{% trans "Mating behaviour" %}</h2></div>
              <video controls>
                <source src="{{ MEDIA_URL }}movies/tutorial/mating.webm" type="video/webm"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/mating.mp4" type="video/mp4"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/mating.ogg" type="video/ogg"/>
                {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
              </video>
              <div class="col-lg-12 text-center">{% trans "One cricket climbs on the back of another." %}</div>
            </div>
            <div class="slider-item">
              <div class="slider-caption"><h2 class="text-center">{% trans "Singing behaviour" %}</h2></div>
              <video controls>
                <source src="{{ MEDIA_URL }}movies/tutorial/singing.webm" type="video/webm"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/singing.mp4" type="video/mp4"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/singing.ogg" type="video/ogg"/>
                {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
              </video>
              <div class="col-lg-12 text-center">{% trans "The cricket's wings flutter." %}</div>
            </div>
            <div class="slider-item">
              <div class="slider-caption"><h2 class="text-center">{% trans "Fighting behaviour" %}</h2></div>
              <video controls>
                <source src="{{ MEDIA_URL }}movies/tutorial/fight.webm" type="video/webm"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/fight.mp4" type="video/mp4"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/fight.ogg" type="video/ogg"/>
                {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
              </video>
              <div class="col-lg-12 text-center">{% trans "Face-to-face pushing and shoving." %}</div>
            </div>
            <div class="slider-item">
              <div class="slider-caption"><h2 class="text-center">{% trans "Feeding behaviour" %}</h2></div>
              <video controls>
                <source src="{{ MEDIA_URL }}movies/tutorial/feeding.webm" type="video/webm"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/feeding.mp4" type="video/mp4"/>
                <source src="{{ MEDIA_URL }}movies/tutorial/feeding.ogg" type="video/ogg"/>
                {% trans "I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264." %}
              </video>
              <div class="col-lg-12 text-center">{% trans "Munching on a leaf." %}</div>
            </div>
          </div>
          <div class="arrow responsive-buttons-large arrow-tut-right col-lg-2 col-md-2 col-xs-2">
            <img src="/media/images/right-arrow.png" width="100"/>
          </div>
        </div>
        <div class="row-fluid">
          <center>
             <button id="tutorial" onclick="switch_tutorial('tut-1','tut-main');">
              {% trans "Go Back" %}
            </button>
            <button id="tutorial" onclick="switch_tutorial('tut-1','tut-2');">
              {% trans "Got it!" %}
            </button>
          </center>
        </div>
        </div>




      </div>

      <div id="tut-2" class="col-xs-12" style="display:none">
        <h1>2. {% trans "MOVEMENT" %}</h1>

        {% blocktrans %}
        These buttons are for when your cricket
        moves around – either leaving its burrow,
        entering its burrow, or leaving the frame of
        the video. Click once each time this happens.
        If you see another cricket, click the button to
        tell us, but keep recording for your main
        cricket.
        {% endblocktrans %}

        <div class="row-fluid">
          <center>
            <button id="tutorial" onclick="switch_tutorial('tut-2','tut-1');">
              {% trans "Go Back" %}
            </button>
            <button id="tutorial" onclick="switch_tutorial('tut-2','tut-3');">
              {% trans "Got it!" %}
            </button>
          </center>
        </div>

      </div>

     <div id="tut-3" class="col-xs-12" style="display:none">
        <h1>3. {% trans "PREDATORS AND TRAPS" %}</h1>

        {% blocktrans %}
        Look out for predators, like birds and shrews,
        and tube traps which are sometimes used to
        collect the crickets. If you see them, click on
        the buttons to tell us.
        {% endblocktrans %}

        <div class="row-fluid">
          <div class="col-sm-4 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/vole-predator2.jpg" width="100%">
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/robin-predator2.jpg" width="100%">
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/trap-predator2.jpg" width="100%">
          </div>
        </div>

        <div class="row-fluid">
          {% blocktrans %}
          If you see something interesting in a video and
          want to tell us about it, click on the '!' button.
          {% endblocktrans %}
        </div>

        <div class="row-fluid">
          <center>
             <button id="tutorial" onclick="switch_tutorial('tut-3','tut-2');">
              {% trans "Go Back" %}
            </button>
            <button id="tutorial" onclick="switch_tutorial('tut-3','tut-4');">
              {% trans "Got it!" %}
            </button>
          </center>
        </div>

     </div>

     <div id="tut-4" class="col-xs-12" style="display:none">
        <h1>4. {% trans "ID CRICKETS" %}</h1>

        {% blocktrans %}
        If you see a cricket and can read the tag on its
        back, click the ID button. The video will pause
        and you can enter the two digits of the ID code.
        Make sure you read the tag the right way up –
        the example crickets below are LU and TT:
        {% endblocktrans %}

        <div class="row-fluid">
          <div class="col-sm-6 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/id-2.jpg" width="100%">
          </div>
          <div class="col-sm-6 col-xs-12">
            <img src="{{ MEDIA_URL }}images/training/id-1.jpg" width="100%">
          </div>
        </div>

        <div class="row-fluid">
          <center>
             <button id="tutorial" onclick="switch_tutorial('tut-4','tut-3');">
              {% trans "Go Back" %}
            </button>
            <button id="tutorial" onclick="switch_tutorial('tut-4','tut-5');">
              {% trans "Got it!" %}
            </button>
          </center>
        </div>

     </div>

     <div id="tut-5" class="col-md-12 col-xs-12" style="display:none">
       <div class="row-fluid">
         <div class="col-md-8 col-xs-12">

           {% blocktrans %}
           <p>Now you know what you're doing, you're ready to play.</p>
           {% endblocktrans %}

           {% if user.is_authenticated %}

           {% blocktrans %}
           <p>On the next page you'll see the burrow map. Click on an
             empty burrow to start.</p>
           {% endblocktrans %}

           {% else %}

           {% blocktrans %}
           <p>If you register you can see the burrow map, where you can
             build houses for the crickets!</p>
           {% endblocktrans %}

           {% endif %}

           {% blocktrans %}
           <p>Each burrow has multiple videos. If you have watched the
             most videos for a burrow, you'll get to build a house on it. If
             someone else picks the same burrow and watches more
             videos than you, they can knock your house down and build
             their own in its place. If you are the first to watch all the
             videos in a burrow, you get a flag on your house, and it is
             there to stay.</p>
           {% endblocktrans %}

         </div>

         <div class="col-md-3 col-xs-3">
           <img src="{{ MEDIA_URL }}images/training/house.png" width=100%>
         </div>


         <div class="row-fluid">
           <center>
            <button id="tutorial" onclick="switch_tutorial('tut-5','tut-4');">
                  {% trans "Go Back" %}
                </button>
             {% if user.is_authenticated %}
             <a href="/map/" class="tutorial-play">
               {% else %}
               <a href="/random_movie" class="tutorial-play">
                 {% endif %}

                 <button id="tutorial" onclick="">
                   {% trans "PLAY!" %}
                 </button>
               </a>
           </center>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>

<div id="tutorial-buttons" class="col-sm-3 col-xs-12"><!-- Button div -->
      <div class="row-fluid">
      <div class="button_container col-xs-12">
        <!-- Generated buttons -->
        <div class="row-fluid">
          <div id="behaviour-buttongroup" class="tutorial_highlight">

          {% for event_type in event_types %}
          <div class="button col-sm-6 col-xs-3"
               style="background: url(/media/images/buttons/button-{{ event_type.image }}.png); background-size: 100% 100%;"
               onMouseOver="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-{{ event_type.image }}-high.png');"
               onMouseOut= "return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-{{ event_type.image }}.png');"
               onMouseDown="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-{{ event_type.image }}-offset.png');"
               onMouseUp="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-{{ event_type.image }}.png');">
            <div class="button_text" {% if not event_type.title %} style="visibility: hidden" {% endif %}>
              <p>{{event_type.name}}</p>
            </div>
          </div>

          {% if forloop.counter|divisibleby:4 %}
          </div>
          <div id="{{event_type.name}}-buttongroup" class="tutorial_highlight">
          {% endif %}

          {% endfor %}
          <div class="button col-sm-6 col-xs-3" style="background: url(/media/images/buttons/button-1.png); background-size: 100% 100%;"
               onMouseOver="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-1-high.png');"
               onMouseOut= "return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-1.png');"
               onMouseDown="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-1-offset.png');"
               onMouseUp="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/button-1.png');">
               <div class="button_text">
                 <p>!</p></div>
          </div>
        </div>

        </div>
        <div class="row-fluid">
          <div id="id-buttongroup" class="tutorial_highlight">
            <div class="button id-display col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-7 col-xs-offset-2" style="background: url(/media/images/buttons/squiggle.png); background-size: 100% 100%;"
               onMouseOver="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/squiggle-high.png');"
               onMouseOut= "return event_button_change(this,'{{ MEDIA_URL }}images/buttons/squiggle.png');"
               onMouseDown="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/squiggle-offset.png');"
               onMouseUp="return event_button_change(this,'{{ MEDIA_URL }}images/buttons/squiggle.png');">
              <div class="button_text">
                <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cricket-id-display">ID</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div><!-- End button div -->
    </div><!-- End video/prompt div -->
    </div><!-- End player row-->

{% endblock %}
