{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block top_layer %}
{% endblock %}

{% block bottom_layer %}
<script src="{{ MEDIA_URL }}js/slick.min.js"></script>

<div class="row-fluid"><!-- video/prompt row -->
  <div class="col-lg-9 col-md-9 col-sm-offset-1 col-sm-9 col-xs-12" style="padding-left:0px; padding-right:0px;"><!-- video/prompt div -->

    <div class="row-fluid"><!-- Player row -->
      <div id="tut-main" class="col-xs-12">

        {% blocktrans %} For each video, you have a set of buttons so
you can record what you see. This tutorial explains how to use the
buttons – if you are logged in you only need to do this once, but you
can come back to this page at any time.  {% endblocktrans %}

        <center>
          <button id="tutorial" onclick="window.location='/tutorial-movement/'">
              {% trans "Begin Tutorial" %}
          </button>
        </center>
        <img class="col-xs-2 col-xs-offset-5" src="/media/images/crickets/3.png">


      </div>
     </div>
    </div>
  </div>
</div>
    </div><!-- End player row-->

{% endblock %}
